body {
  font-family: Arial Sans-Serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

button {
  min-height: 5rem;
  min-width: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 2px solid #5555;
  background-color: rgb(78,204,255);
}

#computer {
  margin: 1.5rem 0;
}

#displayHasil {
  margin: 3rem 0 ;
  font-size: 2rem;
}

.pilihan button {
  margin: 2rem .5rem;
  margin-bottom: 3.5rem;
}

.displaySkor {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.menang, #displaySkorPlayer{
  color: rgb(0,221,20);
}
.kalah, #displaySkorComputer{
  color: rgb(221,0,0);
}